<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New User</title>
</head>
<body>
<h1>Create New User</h1>
<form action="#" th:action="@{/v1/auth/new}" th:object="${userInfo}" method="post">
    <label for="id">ID:</label><br>
    <input type="text" id="id" th:field="*{id}"><br>
    <label for="name">Name:</label><br>
    <input type="text" id="name" th:field="*{name}"><br>
    <label for="email">Email:</label><br>
    <input type="text" id="email" th:field="*{email}"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" th:field="*{password}"><br>
    <label for="roles">Roles:</label><br>
    <input type="text" id="roles" th:field="*{role}"><br><br>
    <button type="submit">Create User</button>
</form>
</body>
</html>
